.github/*
.vscode/*
.haxelib/*
export/*

# File's that aren't needed (or even made by us)
.DS_STORE

# Developer Self Ignores
*_ignore/

# Adobe Animate
RECOVER_*

# Should be kept.
## VS Code Configuration
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Yea Sunday Night Chillin'
!RECOVER_RECOVER_RECOVER_*